div{
    height: 100vh;

}

.prediction{
    color: black;
    
}


button{
    background-color: rgb(33, 12, 226);
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    color: white;
}